
  <h1><%= params[:id] %></h1>
  <script type="text/javascript">
  window.mifiel.widget({
    widgetId: '<%= params[:id] %>',
    appendTo: 'id-of-the-element-to-append',
    successBtnText: 'Proceed to next step'
  });
</script>
